<h2 class="text-center">Air Pollution Monitoring System</h2>
<nav> 
    <ul class="nav nav-pills nav-justified">
    <li role="presentation" routerLinkActive="active">
    <a routerLink="/map" >Map</a>
    </li>
    <li role="presentation"  routerLinkActive="active">
    <a routerLink="/analyze">Analyze</a>
    </li>
    <li role="presentation" routerLinkActive="active">
    <a routerLink="/manage" >Manage</a>
    </li>
    <li role="presentation" routerLinkActive="active">
    <a routerLink="/input" >Input</a>
    </li>
    </ul>
</nav>
<router-outlet></router-outlet>