h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.container-fluid {
  padding: 0;
  margin: 0;
  height: 100%;
}
.margine {
  margin: 10px;
}
.col-xs-2 {
  padding: 0;
  margin: 0;
  min-width: 250px;
}

.col-xs-10 {
  padding: 0;
  margin: 0;
  height: 100%;
}
